@media screen and (max-width: 995px) {
  .empower-slider_right {
    display: none;
  }
}

@media screen and(max-width:500px) {
  .footer-section_two-contact-address h3 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .research_dev h1 {
    font-size: 36px;
  }
  .projects-resp {
    margin-bottom: 60px;
  }
  .empowering_industries-head h2 {
    font-size: 36px;
  }
  .empowering_industries-nav {
    display: none;
  }
  .empower-slider_left-info h2 {
    // margin-top: -110px;
    margin-right: -69px;
    font-size: 12px;
    padding-bottom: 72px;
  }
  .empower-slider_left .empower-img1 {
    width: 182px !important;
    height: 109px;
    padding-right: 0px;
  }
  .empower-slider_left .empower-img2 {
    width: 138px !important;
    height: 210px !important;
  }
  .empower-slider_left {
    gap: 5px;
  }
  .empower-slider_right {
    display: none;
  }
  .endless-innovation {
    display: none;
  }
  .projects_ofrvm-heading h1 {
    font-size: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .projects-line {
    display: none;
  }
  .projects-line2 {
    display: none;
  }
  .projects_ofrvm_line p {
    padding-left: 0px;
    padding-top: 280px;
  }
  .projects_ofrvm {
    display: none;
  }

  .footerlogo {
    display: none;
  }
  .footer-social {
    display: none;
  }
  .services-home {
    // padding-bottom: 0px;
  }
  .projects {
    margin-bottom: 50px;
  }
  .faq-image {
    display: none;
  }
  .get-touch_left h1 {
    font-size: 35px;
    max-width: 219px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .get-touch_left button {
    display: none;
  }
  .get-touch_right {
    display: none;
  }
  .get-touch_left p {
    margin-top: 17px;
    display: none;
  }
  .performance h1 {
    font-size: 35px;
  }
  .performance_line {
    display: none;
  }
  .get-in-touch {
    padding-bottom: unset;
  }
  .mob-git {
    margin-top: 28px;
  }
  .performance-right {
    display: none;
  }
  .awards {
    margin-bottom: 80px;
  }
  .marquee {
    margin-bottom: 100px;
  }

  .people-in-performance {
    margin-bottom: 50px;
  }
  .awards-we_encoutered {
    margin-top: -60px;
  }
  .awards-we_encoutered h1 {
    display: none;
  }
  .awards {
    display: block;
  }
  .marquee {
    display: block;
  }
  .marquee-content span {
    font-size: 12px !important;
  }
  .marquee-content img {
    width: 130px;
    height: 89px;
  }
  .marquee-content {
    height: 88px !important;
  }
  .marquee-content li > div span.text {
    display: none;
  }
  .marquee-content li {
    width: 108px !important;
    height: 89px !important;
  }
  .footer-section_two-contact-details-touch {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    // padding-left: 15px;
    gap: 75px;
  }
  .footer-section_two-contact-details-touch .number p:first-of-type {
    margin-right: -21px;
  }
  .footer-section_two-contact-details-touch .enquiry {
    margin-top: 0px;
  }
  .footer-section_two-contact-details-touch .enquiry h3 {
    margin-bottom: 20px;
  }
  .footer-section_two-contact-details {
    justify-content: flex-start;
    gap: 55px;
    padding-left: 0px;
  }
  .reach_out-section_left {
    display: none;
  }
  .get-in-touch_modal .reach_out-section_right {
    padding-left: 39px;
  }
  .reach_out-section_right {
    width: 90% !important;
  }
  .faq {
    padding-bottom: 26px;
  }
  .side-nav-logo {
    width: 120px;
    margin-bottom: 10px;
  }
  .side-navigation_head {
    padding-bottom: 20px;
  }
  .departments-section .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .departments-section .cards h2 {
    font-size: 27px;
  }
  .departments-section h1 {
    font-size: 30px;
  }
  .intern_swiper h1 {
    font-size: 32px;
  }
  .departments-section .cards button {
    padding: 7px 33px 7px 33px;
    font-size: 14px;
  }
  .intern_btn {
    justify-content: flex-end;
  }
  .footer-section_one {
    display: none;
  }
  .intern_swiper {
    padding-bottom: 0px;
  }
  .intern_btn {
    margin-top: -8px;
  }
  .testimonial-card_content p {
    max-width: 100px !important;
    font-size: 6px !important;
  }
  .testimonial-card_content h2 {
    font-size: 10px !important;
    margin-top: 20px;
  }
  .testimonial-card_content h3 {
    font-size: 8px !important;
    padding-bottom: 7px !important;
  }
  .nav-pills .nav-link {
    margin-right: unset !important;
  }
}
@media screen and(max-width:376px) {
  // .empower-slider_left-info h2{
  //     margin-right: -219px;
  // }
  .rvmproject_content {
    left: 8% !important;
  }
}

@media screen and(min-width:501px) {
  .awards {
    // display: none;
  }
  .marq-resp {
    display: none;
  }
  .research-mob {
    display: none;
  }
  .mob-embeded {
    display: none;
  }
  .domain-heading {
    display: none;
  }
  .vision-mob {
    display: none;
  }
  .service-home__mob {
    display: none;
  }
  .nav-mob-rvm {
    display: none !important;
  }
  .myswiper-mob {
    display: none;
  }
}
.rvmproject_content {
  position: absolute;
  background-color: #020926;
  width: 325px;
  text-align: left;
  padding-left: 28px;
  padding-top: 50px;
  padding-bottom: 37px;
  bottom: 0%;
  left: 12%;
  h6 {
    font-size: 16px;
    color: #eeeeee;
    @include medium();
  }
  h5 {
    font-size: 20px;
    color: #eeeeee;
    @include medium();
    padding-top: 10px;
  }
  p {
    color: #a7a7a7;
    padding-top: 30px;
    font-size: 14px;
    @include regular();
    max-width: 230px;
  }
}
.nxt-prv {
  display: flex;
  gap: 50px;
  padding-top: 60px;
  margin-left: 128px;
}
.nxt-prv a {
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  @include regular();
}
.mrq-resp-one {
  display: flex;
  justify-content: space-between;
  gap: 85px;
  margin-bottom: 46px;
}
.marq-resp {
  margin-top: 60px;
  padding-bottom: 60px;
}
.mrq-resp-two {
  display: flex;
  justify-content: space-around;
  gap: 85px;
  margin-bottom: 46px;
}
@media screen and(max-width:500px) {
  .intern-popup {
    display: none;
  }
  .intern_custom h2 {
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: 37px;
  }
  .form_1,
  .form_2,
  .form {
    flex-direction: column;
    padding-bottom: 35px;
  }
  .intern_custom form label {
    font-size: 16px;
  }
  .form_1 label,
  .form_2 label,
  .form_3 label {
    padding-bottom: 0px;
  }
  .form_1 div:nth-child(2),
  .form_2 div:nth-child(2),
  .form_3 div:nth-child(2) {
    padding-left: 0px;
    padding-top: 19px;
  }
  .form_3 {
    flex-direction: column;
    padding-bottom: 50px;
  }
  .intern_custom form .btn-secondary {
    float: left;
  }
  .form_3 .form-select,
  .form-control {
    width: 100%;
  }
  .area-of-expertise h2 {
    font-size: 32px;
  }
  .area-of-expertise p {
    font-size: 14px;
  }
  .area-of-expertise_info {
    flex-direction: column;
  }
  .area-of-expertise_info .expertise-left_transparent h3 {
    font-size: 168px;
  }
  .omnichannel_design h1 {
    font-size: 32px !important;
  }
  .omnichannel_design .omni-p {
    font-size: 12px;
  }
  .omnichannel_design-service {
    flex-direction: column;
  }
  .omni-top_img {
    width: 100%;
  }
  .omni-top_content {
    width: 100%;
  }
  .hide-circle {
    display: none;
  }
  .domain-section {
    padding-top: 40px;
  }
  .domain-sec-mobile {
    flex-direction: column;
  }
  .domain-heading {
    width: 100%;
    max-width: 250px;
  }
  .domain-section h2 {
    font-size: 32px !important;
    padding-bottom: 30px;
  }
  .d-domain {
    display: none;
  }
  .mySwiper_right .control-container .button-container {
    display: none;
  }
  .domain-section_info {
    width: 100%;
  }
  .grey-line_design_research {
    display: none;
  }
  .area-of-expertise {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  .expertise-left {
    width: 100%;
  }
  .expertise-left_transparent {
    display: none;
  }
  .area-of-expertise .expertise_cards {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 50px;
  }
  .area-of-expertise .expertise_cards .card-list {
    height: 438px;
  }
  .area-of-expertise .circle_rd-serv {
    margin-top: 0px;
  }
  .mob-circle {
    margin-top: 36px !important;
  }
  .research_slider h2 {
    font-size: 30px;
  }
  .card-list-info p {
    width: 269px;
  }
  .mySwiper_custom {
    display: none;
  }
  .research-buttons {
    display: none;
  }
  .research-mob_con h4 {
    font-size: 30px;
    @include italic();
    margin-bottom: 25px;
  }
  .research-mob_con h5 {
    font-size: 14px;
    @include bold();
    color: #575b6e;
    margin-bottom: 25px;
  }
  .research-mob_con p {
    font-size: 14px;
    @include medium();
    margin-bottom: 25px;
    // max-width: 293px;
    line-height: 24px;
  }
  .research-mob_con {
    margin-bottom: 50px;
  }
  .research_slider {
    padding-bottom: 4px;
  }
  .grey-line_design {
    display: none;
  }
  .blue-line_design {
    display: none;
  }
  .infinite_loop1 {
    display: none;
  }
  .embedded-systems__mob {
    display: none;
  }
  .embed-p {
    font-size: 14px;
    @include italic();
    margin-top: 57px;
    margin-bottom: 30px;
  }
  .research-p {
    font-size: 14px;
    @include regular();
    margin-bottom: 25px;
  }
  .accordian-info {
    flex-direction: column;
  }
  .custom_accordian {
    padding-left: 0px;
  }
  .accordian-custom_embedded {
    width: 300px;
  }
  .branding-service .branding-service_cards {
    grid-template-columns: repeat(1, 1fr);
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
    }
  }
  .branding-service_info {
    flex-direction: column;
  }
  .branding-service h2 {
    padding-bottom: 0px;
  }
  .branding-service {
    width: 100%;
    padding-top: 50px;
  }
  .accordian-info-head h3 {
    margin-left: -16px;
    font-size: 80px;
    margin-top: -47px;
  }
  .services-accordian {
    padding-top: 30px;
  }
  .accordion-button::after {
    // margin-top: -60px;
    // display: none;
  }
  .mob-accord {
    display: flex !important;
  }
  .accordian-info-para {
    display: none;
  }
  // .accordian-info::after{
  //     background-size: 1rem!important;
  // }
  .list-accordian {
    flex-direction: column;
  }
  .accordion-body_services-custom_overright {
    width: 100%;
  }
  .list-para_custom_overright2 p {
    width: 345px;
    font-size: 12px;
  }
  .accordian-custom_embedded {
    margin-top: 15px;
  }
  .list-para_custom_overright p {
    font-size: 12px;
    padding-left: 0px;
  }
  .accordion-body_services-custom_overright p {
    width: 345px;
    padding-bottom: 15px;
    font-size: 13px;
  }
  .list-para_custom_overright {
    width: 345px;
  }
  .colm-1 h2 {
    display: none;
  }
  .accordian-info-head {
    width: 100%;
  }
  .folks {
    padding-top: 40px;
    h4 {
      font-size: 35px;
      margin-bottom: 20px;
    }
    p {
      font-size: 14px;
    }
  }
  .welcome {
    margin-bottom: 50px;
  }
  .left__choose p {
    font-size: 15px;
  }
  .right_section {
    margin-top: 0px;
  }
  .whychooseus {
    margin-bottom: 40px;
  }
  .heading-choose {
    margin-bottom: 40px;
  }
  .q {
    margin-left: -62px;
  }
  .vision-not-mob {
    display: none;
  }
  .d {
    margin-left: 30px !important;
  }
  .vision-div {
    margin-bottom: 0px;
  }
  .c {
    margin-left: -128px;
  }
  .people-section h2 {
    font-size: 35px;
  }
  .people-section {
    padding-bottom: 40px;
  }
  .omni-top_content {
    padding-top: 30px !important;
    h2 {
      font-size: 14px !important;
      max-width: 450px !important;
    }
    p {
      font-size: 14px !important;
      max-width: 450px !important;
    }
  }
  .invent-mob {
    height: 315px !important;
  }
  .invent-mob p {
    height: 125px !important;
  }
  .inventory__mob {
    height: 341px !important;
  }
  .branding-design-service_info h2 {
    font-size: 24px;
  }
  .branding-design-service_info p {
    font: 12px;
  }
  .branding-service-section {
    padding-bottom: 0px;
  }
  .departments-section {
    padding-bottom: 50px;
  }
  .software-app-mob {
    height: 371px !important;
  }
  .software-app-mob2 {
    height: 370px !important;
  }
  .software-app-mob3 {
    height: 337px !important;
  }
  .adjust-mob {
    height: 130px !important;
  }
  .adjust-mob4 {
    height: 115px !important;
  }
  .adjust-mob2 {
    height: 178px !important;
  }
  .adjust-mob3 {
    height: 155px !important;
  }
  .accordion-body_services-custom {
    width: 100%;
  }
  .list-acc-mob {
    flex-direction: row !important;
  }
  .list-para p {
    padding-left: 0px;
  }
  .process {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: -1px 13px;
  }
  .tools {
    grid-template-columns: repeat(4, 1fr);
  }
  .mob-accord {
    display: block;
  }
  .banner-content {
    max-width: 320px;
  }
  .ventures-list img {
    margin-top: 20px;
  }
  .ventures-list h2 {
    font-size: 30px;
  }
  .ventures-list p {
    font-size: 14px;
  }
  .banner-content {
    padding-bottom: 70px;
  }
  .ventures-list {
    padding-bottom: 50px;
  }
  .ventures-list h3 {
    display: none;
  }
}

.embed-p span {
  color: #2649db;
}

// index
@media screen and(max-width:500px) {
  .service_cards {
    // display: none;
  }
  .respn-pjsctrvm {
    width: 350px;
  }
  // .service-home__mob{
  //     background-color: #F0F0F0!important;
  //     margin-bottom: 50px;
  // }
  .swiper-mob {
    width: 300px !important;
  }
  .index-mob {
    text-decoration: none;
  }
  .circle {
    // margin-left: -207px;

    margin-bottom: 16px;
  }
  .area-of-expertise h2 {
    padding-bottom: 25px;
  }
}

// menu
@media screen and(max-width:500px) {
  .side_nav-web {
    display: none;
  }
  .side_nav-services {
    display: none;
  }
  .side_nav-pages {
    display: none;
  }
  .overlay-content .separator::after {
    display: none;
  }
  .side_nav-link h2 {
    display: none;
  }
  .sub-nav_omnichannel {
    display: none;
  }
  .omnichannel_design {
    padding-top: 100px;
  }
  .sub-nav_vetures {
    // display: none;
  }
  .branding-design-service {
    padding-top: 100px;
  }
  .side_nav-link img {
    display: none;
  }
  .nav-head-mob {
    @include bold();
    color: #b7b7b7;
    font-size: 20px;
    display: inline-block;
    transform: rotate(-90deg);
    padding-bottom: 49px;
  }
  .nav-links a {
    @include regular();
    font-size: 14px;
    color: #a7a7a7;
    padding-bottom: 20px;
  }
  .nav-links a span {
    padding-right: 15px;
    padding-left: unset;
  }
  .home-mob-nav {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .social-mob {
    gap: 50px;
  }
  .social-mob {
    padding-bottom: 40px;
  }
  .side_nav-pages-info1 h3 {
    color: white;
    font-size: 16px;
    @include regular();
  }
  .seprate-line_mob {
    border-right: 1px solid rgb(88, 88, 88);
  }
  .navbar {
    margin-top: 0px !important;
  }
  .services-home {
    // background-image: none;
    padding-top: 50px;
  }
  .randd {
    margin-top: 200px;
  }
  .awards-we_encoutered {
    padding-left: 10px;
    padding-right: 25px;
  }
  .side-navigation {
    // height: 700px;
    max-height: 800px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: none !important;
  }
}
@media screen and(max-width:376px) {
  .social-mob {
    gap: 40px;
  }
}
@media screen and(max-width:426px) {
  .sub-nav_vetures a {
    font-size: 11px;
  }
}
@media screen and(max-width:376px) {
  .sub-nav_vetures a {
    font-size: 10px;
  }
}
@media screen and(max-width:500px) {
  .new-logo-web {
    width: 160px;
  }
  .menu-font {
    margin-top: 9px;
  }
  .randd {
    margin-bottom: 50px;
  }
  .get-touch_left p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .menu-bar {
    width: 11px;
  }
  .menu-font {
    font-size: 13px;
  }
  .awards-we_encoutered h3 {
    font-size: 26px;
  }
  .awards-we_encoutered p {
    margin-top: 40px;
  }
  .skills-awards {
    display: none;
  }
}
.empower-slider_left-info h2 {
  text-align: left;
}
.nav-pills .nav-link {
  // border-bottom: 2px solid grey;
  border-radius: 0px !important;
  margin-top: 20px;
  margin-right: 18px;
}
.nav-item {
  border-bottom: 1px solid #bababa;
  border-radius: 0px !important;
}
.empower-slider {
  background-color: #f0f0f0;
}
.swiper-slide {
  background-color: #f0f0f0;
}
.empowe-slide {
  justify-content: unset !important;
  margin-bottom: 50px;
}
.nav-pills .nav-link {
  // border-bottom: 1px solid #BABABA;
  border-radius: 0px !important;
  color: black;
  font-size: 14px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  border-bottom: 3px solid black;
  background-color: unset !important;
  color: black !important;
}
.nav-link {
  // padding: 0.9rem 1rem!important;
}
.empower-slider_right h1 {
  font-size: 649px;
  @include italic();
  color: #b7b7b7;
  opacity: 11%;
}
.empower-slider_right p {
  text-align: left;
  font-size: 18px;
  // margin-top: 350px;
  position: absolute;
  top: 60%;
}
.empower-slider_right h1 {
  font-size: 650px;
  color: #bababa;
  opacity: 11%;
  margin-left: -184px;
  margin-top: -250px;
  position: relative;
}
.empower-slider_right a {
  position: absolute;
  top: 80%;
  margin-left: -120px;
}
.branding-design-service-info {
  margin-top: -10px;
}
.zero-one {
  @include italic();
  font-size: 18px;
  color: #cecece;
}
.line-grey-omni {
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.grey-line__omni {
  // text-align: -webkit-right;
  display: inline-block;
  margin-top: 60px;
  color: #dbdbdb;
  // width:100%;
}
.zero-one {
  // text-align-last: center;
  // border-bottom: 1px solid #cdcdcd;
  // width: 100%;
}

.zero-one_rd {
  border: 0.5px solid #dbdbdb;
  height: 0px;
  padding-left: 612px;
}
.zero-one_it {
  margin-left: 140px;
}
.zero-one_sa {
  margin-left: -53px;
}

.zero-one_da {
  margin-left: 329px;
}

.clients-omni {
  @include bold();
  font-size: 50px;
  margin-bottom: 60px;
  color: #020926;
}

@media screen and(max-width:500px) {
  .service-card_one {
    width: 156px;
    background-color: rgba(255, 255, 255, 0.727);
    h3 {
      font-size: 8px;
      margin-top: 14px;
      margin-left: 10px;
    }
    p {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 13px;
      margin-left: 10px;
    }
  }
  .sub-nav_vetures {
    display: none;
  }
  .extra-down {
    margin-bottom: unset;
    max-width: 84px;
  }
  .services-home {
    background-position: 49% 35%;
    padding-bottom: 0px;
  }
  .service_cards {
    gap: 11px;
    justify-content: center;
  }
  .research_dev img {
    width: 130px;
  }
  .research_dev p {
    font-size: 14px;
    line-height: 20px;
    max-width: 280px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
    @include medium();
  }
  .empowe-heading {
    font-size: 32px !important;
  }
  .empower-slider_left-info h2 span {
    font-size: 24px;
  }
  .empower-slider {
    padding-top: 33px;
  }
  .projects_ofrvm-heading h4 {
    font-size: 14px;
  }
  .nav-pills {
    flex-wrap: inherit;
    overflow: scroll;
    height: 61px;
  }
  .nav-link {
    font-size: 12px !important;
  }
  .nav-item {
    padding-right: 46px;
  }
  .nav-pills::-webkit-scrollbar {
    display: none;
  }
  .empower-slider_left-info h2 div {
    width: 28px;
  }
  .hide-nav-item {
    display: none;
  }
  .empowering_industries {
    padding-bottom: 50px;
  }
  .projects_ofrvm_line {
    display: none;
  }
  .projects-resp-p {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    @include regular();
    width: 276px;
    padding-bottom: 25px;
  }
  .numbers_touch {
    padding-left: 17px;
    padding-right: 17px;
    gap: 47px;
    padding-top: 40px;
    padding-bottom: unset;
  }
  .mob_numbers {
    h1 {
      font-size: 22px;
      @include medium();
      color: #4a4a4a;
    }
    h1 span {
      color: #2649db;
    }
    p {
      font-size: 14px;
      @include medium();
      color: #4a4a4a;
      margin-left: -4px;
    }
  }
  .mob-git {
    text-align: center;
    padding-bottom: 33px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 -4px 3px 0 rgb(0 0 0 / 1%), 0 6px 20px 0 rgb(0 0 0 / 7%);
  }
  .explain-git-mob {
    font-size: 14px;
    @include medium();
    line-height: 20px;
    color: #4a4a4a;
    text-align: left;
    padding-top: 26px;
    padding-bottom: 30px;
  }
  .get-in_touch_mobile {
    margin-bottom: 80px;
  }
  .circle {
    // margin-left: 12px;
  }
  .get-in_touch_mobile {
    display: block;
  }
}

@media screen and(min-width:501px) {
  .get-in_touch_mobile {
    display: none;
  }
}
